body {
  margin: 10px;
}

.title {
  text-align: center;
}

.contact_form {
  background-color: rgba(245, 245, 245, 0.833);
  border: 1px solid black;
  padding: 30px;
}

.contact_list {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.174);
  padding: 30px;
}

.search_col {
  margin-bottom: 15px;
}

.profile {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  gap: 5px;
}
